<style>
    body { text-align: center; background-color: bisque }
    #img_box { width: 150px; height: 150px; background-color: gray; display: block; margin-left: auto; margin-right: auto; margin-bottom: 10px}
    #img_boxA { width: 150px; height: 150px; background-color: gray; display: block; margin-left: auto; margin-right: auto; margin-bottom: 30px;}
    .rock { background-image: url("rock.jpg"); background-size: contain }
    .paper { background-image: url("paper.jpg"); background-size: contain }
    .scissors { background-image: url("scissors.jpeg"); background-size: contain }
    #output { font-size: 20px}
</style>

<body>
    <h1>Rock, Paper, Scissors</h1>
        <hr>
    <h2>Choose Rock, Paper, or Scissors.</h2>
        <div id="img_box"></div>
        <button id="rock_button" onclick="rock()">Rock</button>
        <button id="paper_button" onclick="paper()">Paper</button>
        <button id="scissors_button" onclick="scissors()">Scissors</button>
    
    <h2>CPU</h2>
        <div id="img_boxA"></div>    
    <hr>
    <p id="output"></p>
    <script src="rps.js"></script>
        
</body>